* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #19a1ad;
    background-image: url("../images/bg-pattern-top.svg"),url("../images/bg-pattern-bottom.svg");
    background-position: -148px -300px,right 260px;
    background-size: 750px,750px;
    background-repeat: no-repeat;
    
}

.card {
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    
}
.box1 {
    flex-basis: 35%;
    background-image: url("../images/bg-pattern-card.svg");
    max-width: 100%;
}
.card .image {
    position: absolute;position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 49px;
    

}
.card .image img {
    border-radius: 50%;
    border: 2px solid white;
    max-width: 100%;
}
.box2 {
    flex-basis: 65%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    
}
.card .box2 .text {
   
    text-align: center;
    margin-top: 57px;
    border-bottom: 1px solid #c1bfbf;
}
.card .box2 .text h3 {
    margin: 0;
    padding: 0;
}
.card .box2 .text span{
    margin-left: 10px;
    color: #777;
}
.card .box2 .text p {
    color: #777;
    margin-top: 10px;
}
.card .box2 .info {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.card .box2 .info .text1 {
    margin-bottom: 10px;
}
.card .box2 .info .text1 span {
    
    padding: 30px;
    font-weight: 700;
}
.card .box2 .info .text1 span:nth-child(2) {
    margin-left: 5px;
}
.card .box2 .info .text2 p{
    display: inline;
    padding: 20px;
    color: #777;
    font-size: 15px;
    font-weight: 400;
}
